{% extends 'base.html.twig' %}

{% block title %}Bookcollection index{% endblock %}

{% block body %}
<h1>Bookcollection index</h1>

<ul>
  {% for bookcollection in bookcollections %}
  <li> <a href="/bookcollection/{{bookcollection.id}}">{{bookcollection.description}}</a> </li>
  {% endfor %}
</ul>
{% endblock %}
