{% extends 'base.html.twig' %}

{% block title %}New Bookcollection{% endblock %}

{% block body %}
    <main>
        <h1>Create new Bookcollection</h1>

        {{ include('bookcollection/_form.html.twig') }}

        <a href="{{ path('app_membre_show', {'id' : membre.id}) }}">back to membre</a>
    </main>
{% endblock %}
