{% extends 'base.html.twig' %}

{% block title %}New Bookcollection{% endblock %}

{% block body %}
    <main>
        <h1>Create new Bookcollection</h1>

        {{ include('bookcollection/_form.html.twig') }}

        <a href="{{ path('app_bookcollection_index') }}">back to list</a>
    </main>
{% endblock %}
