{% extends 'base.html.twig' %}

{% block title %}Edit Bookcase{% endblock %}

{% block body %}
    <header>
    </header>
    <main>
        <h1>Edit Bookcase</h1>

        {{ include('bookcase/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('app_bookcase_index') }}">back to list</a>

        {{ include('bookcase/_delete_form.html.twig') }}
    </main>
{% endblock %}
