{% extends 'base.html.twig' %}

{% block title %}New Bookcase{% endblock %}

{% block body %}
    <main>
        <h1>Create new Bookcase</h1>

        {{ include('bookcase/_form.html.twig') }}

        <a href="{{ path('app_bookcase_index') }}">back to list</a>
    </main>
{% endblock %}
